.main .content .work .bbzd,.main .content .work .bbzdedit,.main .content .work .bbzb,.main .content .work .bbgs{
  .form .table{
    width: 100%;
    margin:0;
    td{
      line-height: 24px;
      height: 24px;
      padding: 0;
    }
    input,select{
      display: block;
      height: 100%;
      width: 100%;
      border: none;
      box-sizing: border-box;
      padding: 0 5px;
    }
  }

}