.demo{
  .form{



    .main{
      width: 800px;
      margin: 0 auto;
      padding-top: 90px;
      height: auto;

      .row{
        float: left;
        height: 30px;
        line-height: 30px;
        width: 400px;
        margin: 8px auto;
        input,select{
          box-sizing: border-box;
          height: 30px;
          padding: 1px;
          border: 1px solid #999999;
        }
        .title{
          margin-right: 10px;
          float: left;
          width: 100px;
          text-align: right;
        }
        .btn{
          white-space: nowrap;
        }

      }
    }


  }
}