.pxwh {
  .qrcode-wrapper {
    display: none;
    position: absolute;
    top:50px;
    left: 180px;
    width: 240px;
    height: 250px;
    background: rgb(239, 246, 248);
    color: #000;
    .qrcode-header {
      height: 30px;
      line-height: 30px;
      text-align: right;
      padding-right: 10px;
      .qrcode-close {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("../image/close1.png") right center;
      }
    }
    .qrcode-img {
      width:200px;
      height:200px;
      padding:10px 20px;
    }
  }
}