.form {
  .baseinfo-wrapper {
    padding: 10px;
    background: #fafafa;
    border: 1px solid #eee;
    .baseinfo-item {
      display: inline-block;
      width: 33.33%;
      line-height: 30px;
    }
  }
  .maininfo-wrapper {
    border: 1px solid #eee;
    margin-top: 20px;
    .tab-list {
      .tab-item {
        display: inline-block;
        width: 33.33%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin-left: -1px;
        user-select: none;
        cursor: pointer;
      }
      .tab-item.active {
        background: #0079c8;
        color: #fff;
      }
    }
    .maininfo-content {
      display: none;
    }
    .maininfo-content.active {
      display: block;
    }
  }
}
.select-wrapper {
  position: absolute;
  width: 100%;
  padding: 10px 10px 15px 0;
  line-height: 24px;
  font-size: 0;
  margin-top: -1px;
  background: #f9f9f9;
  z-index: 1;
  border-bottom: 1px solid #aba9a9;
  box-sizing: border-box;
  .reset {
    position: absolute;
    top:10px;
    left: 10px;
    width: 60px;
    height: 30px;
    font-size: 12px;
    line-height: 16px;
    background: url("./images/reset.png") 30px top no-repeat;
    cursor: pointer;
    z-index: 2;
  }
  .icon {
    position: absolute;
    width: 160px;
    height: 20px;
    left: 50%;
    top: 100%;
    margin-left: -80px;
    margin-top: -20px;
    background: url("../image/down.png") center center no-repeat;
    cursor: pointer;
  }
  .icon.active {
    background: url("../image/up.png") center center no-repeat;
  }
  .select-sub {
    display: none;
  }
  .select-item {
    position: relative;
    display: inline-block;
    width: 33.33%;
    height: 100%;
    font-size: 12px;
  }
  label {
    float: left;
    width: 40%;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
    line-height: 22px;
  }
  input,select {
    width: 60%;
    height: 100%;
    max-width: 200px;
    border: 1px solid #ddd;
  }
  .select-item-inner {
    display: inline-block;
    width: 60%;
    height: 100%;
    max-width: 200px;
    input {
      width: 45%;
      height: 100%;
    }
    span {
      display: inline-block;
      width: 10%;
      text-align: center;
    }
  }
}
.select-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 40%;
  width: 60%;
  max-width: 200px;
  max-height: 200px;
  overflow: auto;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  z-index: 1000;
  background: #fff;
  box-sizing: border-box;
  .select-label{
    float: none;
    display: block;
    width: auto;
    text-align: left;
    input[type="checkbox"] {
      display: inline;
      vertical-align: middle;
    }
  }
  .select-option {
    width: auto;
    height: auto;
  }
}