<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.web.bjts.shzs.dao.DcbWceLimitConfigProfileMapper">
  <resultMap id="BaseResultMap" type="com.tl.web.bjts.shzs.model.domain.DcbWceLimitConfigProfile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SWJG_DM" jdbcType="VARCHAR" property="swjgDm" />
    <result column="WCE_UP" jdbcType="DECIMAL" property="wceUp" />
    <result column="WCE_DOWN" jdbcType="DECIMAL" property="wceDown" />
  </resultMap>
</mapper>