<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tl.bjts.sw.dao.GcMdtsbModelMapper" >
  <resultMap id="BaseResultMap" type="com.tl.bjts.sw.model.domain.GcMdtsbModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UUID" property="UUID" jdbcType="VARCHAR" />
    <result column="LCSLID" property="LCSLID" jdbcType="VARCHAR" />
    <result column="CPCODE" property="CPCODE" jdbcType="VARCHAR" />
    <result column="SB_YM" property="SB_YM" jdbcType="VARCHAR" />
    <result column="USD_AMT" property="USD_AMT" jdbcType="DECIMAL" />
    <result column="RMB_AMT" property="RMB_AMT" jdbcType="DECIMAL" />
    <result column="RMB_CE" property="RMB_CE" jdbcType="DECIMAL" />
    <result column="DQDZBQ_AMT" property="DQDZBQ_AMT" jdbcType="DECIMAL" />
    <result column="DQDZQQ_AMT" property="DQDZQQ_AMT" jdbcType="DECIMAL" />
    <result column="QQDZSQ_AMT" property="QQDZSQ_AMT" jdbcType="DECIMAL" />
    <result column="QQXXSQ_AMT" property="QQXXSQ_AMT" jdbcType="DECIMAL" />
    <result column="QQDZQQ_AMT" property="QQDZQQ_AMT" jdbcType="DECIMAL" />
    <result column="MS_USD_AMT" property="MS_USD_AMT" jdbcType="DECIMAL" />
    <result column="MS_RMB_AMT" property="MS_RMB_AMT" jdbcType="DECIMAL" />
    <result column="DZQQ_MS_AMT" property="DZQQ_MS_AMT" jdbcType="DECIMAL" />
    <result column="DZBQ_MS_AMT" property="DZBQ_MS_AMT" jdbcType="DECIMAL" />
    <result column="QQDZQQ_MS_AMT" property="QQDZQQ_MS_AMT" jdbcType="DECIMAL" />
    <result column="QQXXQQ_MS_AMT" property="QQXXQQ_MS_AMT" jdbcType="DECIMAL" />
    <result column="BYMDT_AMT" property="BYMDT_AMT" jdbcType="DECIMAL" />
    <result column="ZTSCE" property="ZTSCE" jdbcType="DECIMAL" />
    <result column="SQBMZDKDJE" property="SQBMZDKDJE" jdbcType="DECIMAL" />
    <result column="BMZDKDJE" property="BMZDKDJE" jdbcType="DECIMAL" />
    <result column="BMZDKSE" property="BMZDKSE" jdbcType="DECIMAL" />
    <result column="BMZDKSE_CE" property="BMZDKSE_CE" jdbcType="DECIMAL" />
    <result column="JZBMZDKDJE" property="JZBMZDKDJE" jdbcType="DECIMAL" />
    <result column="TS_AMT" property="TS_AMT" jdbcType="DECIMAL" />
    <result column="SQJZMDTDJE" property="SQJZMDTDJE" jdbcType="DECIMAL" />
    <result column="MDTDJE" property="MDTDJE" jdbcType="DECIMAL" />
    <result column="MDTSE" property="MDTSE" jdbcType="DECIMAL" />
    <result column="JZMDTDJE" property="JZMDTDJE" jdbcType="DECIMAL" />
    <result column="QMLDSE" property="QMLDSE" jdbcType="DECIMAL" />
    <result column="JSQMLDSE" property="JSQMLDSE" jdbcType="DECIMAL" />
    <result column="YTSE" property="YTSE" jdbcType="DECIMAL" />
    <result column="MDSE" property="MDSE" jdbcType="DECIMAL" />
    <result column="NOTE" property="NOTE" jdbcType="VARCHAR" />
    <result column="SB_RSV" property="SB_RSV" jdbcType="VARCHAR" />
    <result column="FLAG" property="FLAG" jdbcType="VARCHAR" />
    <result column="JBSH_FLAG" property="JBSH_FLAG" jdbcType="VARCHAR" />
    <result column="ZHSH_FLAG" property="ZHSH_FLAG" jdbcType="VARCHAR" />
    <result column="SH_USER" property="SH_USER" jdbcType="VARCHAR" />
    <result column="SH_DATE" property="SH_DATE" jdbcType="DATE" />
    <result column="QP_USER" property="QP_USER" jdbcType="VARCHAR" />
    <result column="QP_DATE" property="QP_DATE" jdbcType="DATE" />
    <result column="OP_USER" property="OP_USER" jdbcType="VARCHAR" />
    <result column="OP_DATE" property="OP_DATE" jdbcType="DATE" />
    <result column="RSV_FLAG" property="RSV_FLAG" jdbcType="VARCHAR" />
    <result column="YSJCCODE" property="YSJCCODE" jdbcType="VARCHAR" />
    <result column="LSGX" property="LSGX" jdbcType="VARCHAR" />
    <result column="QYLX" property="QYLX" jdbcType="VARCHAR" />
    <result column="JS_MODE" property="JS_MODE" jdbcType="VARCHAR" />
    <result column="BBTJ" property="BBTJ" jdbcType="VARCHAR" />
    <result column="USD_AMT_LW" property="USD_AMT_LW" jdbcType="DECIMAL" />
    <result column="USD_AMT_HW" property="USD_AMT_HW" jdbcType="DECIMAL" />
    <result column="RMB_AMT_LW" property="RMB_AMT_LW" jdbcType="DECIMAL" />
    <result column="RMB_AMT_ZF" property="RMB_AMT_ZF" jdbcType="DECIMAL" />
    <result column="RMB_AMT_HW" property="RMB_AMT_HW" jdbcType="DECIMAL" />
    <result column="DQDZBQ_LW" property="DQDZBQ_LW" jdbcType="DECIMAL" />
    <result column="DQDZQQ_LW" property="DQDZQQ_LW" jdbcType="DECIMAL" />
    <result column="DZQQ_AMT_LW" property="DZQQ_AMT_LW" jdbcType="DECIMAL" />
    <result column="ZTSCE_LW" property="ZTSCE_LW" jdbcType="DECIMAL" />
    <result column="ZTSCE_HW" property="ZTSCE_HW" jdbcType="DECIMAL" />
    <result column="TS_AMT_LW" property="TS_AMT_LW" jdbcType="DECIMAL" />
    <result column="TS_AMT_HW" property="TS_AMT_HW" jdbcType="DECIMAL" />
    <result column="YTSE_LW" property="YTSE_LW" jdbcType="DECIMAL" />
    <result column="YTSE_HW" property="YTSE_HW" jdbcType="DECIMAL" />
    <result column="MDSE_LW" property="MDSE_LW" jdbcType="DECIMAL" />
    <result column="MDSE_HW" property="MDSE_HW" jdbcType="DECIMAL" />
    <result column="QQDZQQ_LW" property="QQDZQQ_LW" jdbcType="DECIMAL" />
    <result column="BG_USER" property="BG_USER" jdbcType="VARCHAR" />
    <result column="BG_DATE" property="BG_DATE" jdbcType="DATE" />
    <result column="SWCODE" property="SWCODE" jdbcType="VARCHAR" />
    <result column="ZH_AMT" property="ZH_AMT" jdbcType="DECIMAL" />
    <result column="BYTS_AMT" property="BYTS_AMT" jdbcType="DECIMAL" />
    <result column="IS_WZH" property="IS_WZH" jdbcType="VARCHAR" />
    <result column="FLGLCD" property="FLGLCD" jdbcType="VARCHAR" />
    <result column="USDAMTLJ" property="USDAMTLJ" jdbcType="DECIMAL" />
    <result column="USDAMTHWLJ" property="USDAMTHWLJ" jdbcType="DECIMAL" />
    <result column="USDAMTLWLJ" property="USDAMTLWLJ" jdbcType="DECIMAL" />
    <result column="MDTCKXSELJ" property="MDTCKXSELJ" jdbcType="DECIMAL" />
    <result column="RMBAMTZFLJ" property="RMBAMTZFLJ" jdbcType="DECIMAL" />
    <result column="RMBAMTLJ" property="RMBAMTLJ" jdbcType="DECIMAL" />
    <result column="DQDZBQAMTLJ" property="DQDZBQAMTLJ" jdbcType="DECIMAL" />
    <result column="DQDZQQAMTLJ" property="DQDZQQAMTLJ" jdbcType="DECIMAL" />
    <result column="DQDZQQLWLJ" property="DQDZQQLWLJ" jdbcType="DECIMAL" />
    <result column="DQDZBQLWLJ" property="DQDZBQLWLJ" jdbcType="DECIMAL" />
    <result column="QQDZSQ_AMTLJ" property="QQDZSQ_AMTLJ" jdbcType="DECIMAL" />
    <result column="QQDZQQLWLJ" property="QQDZQQLWLJ" jdbcType="DECIMAL" />
    <result column="DQDZQQAMTQBLJ" property="DQDZQQAMTQBLJ" jdbcType="DECIMAL" />
    <result column="QBDZYSJSAMTLJ" property="QBDZYSJSAMTLJ" jdbcType="DECIMAL" />
    <result column="MSUSDAMTLJ" property="MSUSDAMTLJ" jdbcType="DECIMAL" />
    <result column="MSRMBAMTLJ" property="MSRMBAMTLJ" jdbcType="DECIMAL" />
    <result column="USDAMTQBLJ" property="USDAMTQBLJ" jdbcType="DECIMAL" />
    <result column="RMBAMTQBLJ" property="RMBAMTQBLJ" jdbcType="DECIMAL" />
    <result column="BYMDTAMTLJ" property="BYMDTAMTLJ" jdbcType="DECIMAL" />
    <result column="ZTSCELJ" property="ZTSCELJ" jdbcType="DECIMAL" />
    <result column="ZTSCEHWLJ" property="ZTSCEHWLJ" jdbcType="DECIMAL" />
    <result column="ZTSCELWLJ" property="ZTSCELWLJ" jdbcType="DECIMAL" />
    <result column="SQBMZDKDJELJ" property="SQBMZDKDJELJ" jdbcType="DECIMAL" />
    <result column="BMZDKDJELJ" property="BMZDKDJELJ" jdbcType="DECIMAL" />
    <result column="BMZDKSELJ" property="BMZDKSELJ" jdbcType="DECIMAL" />
    <result column="JZBMZDKDJELJ" property="JZBMZDKDJELJ" jdbcType="DECIMAL" />
    <result column="TSAMTLJ" property="TSAMTLJ" jdbcType="DECIMAL" />
    <result column="TSAMTHWLJ" property="TSAMTHWLJ" jdbcType="DECIMAL" />
    <result column="TSAMTLWLJ" property="TSAMTLWLJ" jdbcType="DECIMAL" />
    <result column="SQJZMDTDJELJ" property="SQJZMDTDJELJ" jdbcType="DECIMAL" />
    <result column="MDTDJELJ" property="MDTDJELJ" jdbcType="DECIMAL" />
    <result column="MDTSELJ" property="MDTSELJ" jdbcType="DECIMAL" />
    <result column="JZMDTDJELJ" property="JZMDTDJELJ" jdbcType="DECIMAL" />
    <result column="QMLDSELJ" property="QMLDSELJ" jdbcType="DECIMAL" />
    <result column="JSQMLDSELJ" property="JSQMLDSELJ" jdbcType="DECIMAL" />
    <result column="YTSELJ" property="YTSELJ" jdbcType="DECIMAL" />
    <result column="MDSELJ" property="MDSELJ" jdbcType="DECIMAL" />
    <result column="TZMDTSE" property="TZMDTSE" jdbcType="DECIMAL" />
    <result column="TZBMZDKSE" property="TZBMZDKSE" jdbcType="DECIMAL" />
    <result column="ZZSBDDKLJ" property="ZZSBDDKLJ" jdbcType="DECIMAL" />
    <result column="ZZSXSELJ" property="ZZSXSELJ" jdbcType="DECIMAL" />
  </resultMap>
</mapper>