<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tl.bjts.sw.dao.GcWzfTssbMapper" >
  <resultMap id="BaseResultMap" type="com.tl.bjts.sw.model.domain.GcWzfTssb" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UUID" property="UUID" jdbcType="VARCHAR" />
    <result column="SB_YM" property="SB_YM" jdbcType="VARCHAR" />
    <result column="SB_NO" property="SB_NO" jdbcType="VARCHAR" />
    <result column="SB_PC" property="SB_PC" jdbcType="VARCHAR" />
    <result column="WT_NSRDJ_NO" property="WT_NSRDJ_NO" jdbcType="VARCHAR" />
    <result column="BGD_NO" property="BGD_NO" jdbcType="VARCHAR" />
    <result column="LJ_DATE" property="LJ_DATE" jdbcType="DATE" />
    <result column="CMCODE" property="CMCODE" jdbcType="VARCHAR" />
    <result column="SB_CMCODE" property="SB_CMCODE" jdbcType="VARCHAR" />
    <result column="CMUNIT" property="CMUNIT" jdbcType="VARCHAR" />
    <result column="QNT" property="QNT" jdbcType="DECIMAL" />
    <result column="USD_AMT" property="USD_AMT" jdbcType="DECIMAL" />
    <result column="ZYFP_NO" property="ZYFP_NO" jdbcType="VARCHAR" />
    <result column="KP_DATE" property="KP_DATE" jdbcType="DATE" />
    <result column="RMB_AMT" property="RMB_AMT" jdbcType="DECIMAL" />
    <result column="SE" property="SE" jdbcType="DECIMAL" />
    <result column="SL" property="SL" jdbcType="DECIMAL" />
    <result column="TSL" property="TSL" jdbcType="DECIMAL" />
    <result column="TS_AMT" property="TS_AMT" jdbcType="DECIMAL" />
    <result column="YWLXCODE" property="YWLXCODE" jdbcType="VARCHAR" />
    <result column="YWLX" property="YWLX" jdbcType="VARCHAR" />
    <result column="NOTE" property="NOTE" jdbcType="VARCHAR" />
    <result column="OP_USER" property="OP_USER" jdbcType="VARCHAR" />
    <result column="OP_DATE" property="OP_DATE" jdbcType="DATE" />
    <result column="BG_USER" property="BG_USER" jdbcType="VARCHAR" />
    <result column="BG_DATE" property="BG_DATE" jdbcType="DATE" />
    <result column="LCSLID" property="LCSLID" jdbcType="VARCHAR" />
    <result column="SWCODE" property="SWCODE" jdbcType="VARCHAR" />
    <result column="CPCODE" property="CPCODE" jdbcType="VARCHAR" />
    <result column="ZH_TYPE" property="ZH_TYPE" jdbcType="VARCHAR" />
    <result column="BY_TYPE" property="BY_TYPE" jdbcType="VARCHAR" />
    <result column="MTS_FLAG" property="MTS_FLAG" jdbcType="VARCHAR" />
    <result column="MTS_YM" property="MTS_YM" jdbcType="VARCHAR" />
    <result column="ZH_FLAG" property="ZH_FLAG" jdbcType="VARCHAR" />
    <result column="BY_FLAG" property="BY_FLAG" jdbcType="VARCHAR" />
    <result column="CMNAME" property="CMNAME" jdbcType="VARCHAR" />
    <result column="SBCMNAME" property="SBCMNAME" jdbcType="VARCHAR" />
    <result column="SB_ID" property="SB_ID" jdbcType="DECIMAL" />
    <result column="HWLXCODE" property="HWLXCODE" jdbcType="VARCHAR" />
    <result column="HWLX" property="HWLX" jdbcType="VARCHAR" />
  </resultMap>
</mapper>