<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tl.bjts.sw.dao.TjbbTaskModelMapper" >
  <resultMap id="BaseResultMap" type="com.tl.bjts.sw.model.domain.TjbbTaskModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="BBDLDM" property="bbdldm" jdbcType="VARCHAR" />
    <id column="SWJGDM" property="swjgdm" jdbcType="VARCHAR" />
    <id column="NY" property="ny" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="SJSWJG" property="sjswjg" jdbcType="VARCHAR" />
    <result column="CJTIME" property="cjtime" jdbcType="DATE" />
    <result column="CJR" property="cjr" jdbcType="VARCHAR" />
    <result column="ZBTIME" property="zbtime" jdbcType="DATE" />
    <result column="ZBR" property="zbr" jdbcType="VARCHAR" />
    <result column="SBTIME" property="sbtime" jdbcType="DATE" />
    <result column="SBR" property="sbr" jdbcType="VARCHAR" />
    <result column="CHTIME" property="chtime" jdbcType="DATE" />
    <result column="CHR" property="chr" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="SWJGMC" property="swjgmc" jdbcType="VARCHAR" />
    <result column="SWJGJC" property="swjgjc" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
  </resultMap>
</mapper>