<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tl.bjts.sw.dao.TlRoleProfileMapper" >
  <resultMap id="BaseResultMap" type="com.tl.bjts.sw.model.domain.TlRoleProfile" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ROLE_DM" property="roleDm" jdbcType="VARCHAR" />
    <result column="ROLE_MC" property="roleMc" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CRTIME" property="crtime" jdbcType="DATE" />
    <result column="CRNAME" property="crname" jdbcType="VARCHAR" />
    <result column="UPTIME" property="uptime" jdbcType="DATE" />
    <result column="UPNAME" property="upname" jdbcType="VARCHAR" />
    <result column="QYBZ" property="qybz" jdbcType="CHAR" />
  </resultMap>
</mapper>