<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tl.bjts.sw.dao.YjzbSwjgModelMapper" >
  <resultMap id="BaseResultMap" type="com.tl.bjts.sw.model.domain.YjzbSwjgModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SWJGDM" property="swjgdm" jdbcType="VARCHAR" />
    <id column="ZBCODE" property="zbcode" jdbcType="VARCHAR" />
    <result column="P1VAL" property="p1val" jdbcType="DECIMAL" />
    <result column="P2VAL" property="p2val" jdbcType="DECIMAL" />
    <result column="P3VAL" property="p3val" jdbcType="DECIMAL" />
    <result column="P4VAL" property="p4val" jdbcType="DECIMAL" />
    <result column="SCORE" property="score" jdbcType="DECIMAL" />
    <result column="YXBZ" property="yxbz" jdbcType="CHAR" />
  </resultMap>
</mapper>